body {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.center{
    text-align: center;
}

.btn {
    margin: 10px 0;
}

@media (max-width: 640px) {
    #catImage {
      width:100%;
      max-width:100% !important;
      height: auto;
    }
}